{% if site.theme_settings.katex %}
<script src="{{ "/js/katex_init.js" | prepend: site.baseurl }}"></script>
{% endif %}

{% if site.theme_settings.footer_text %}
<footer class="site-footer">
	<p class="text">{{ site.theme_settings.footer_text }}</p>
</footer>
{% endif %}

<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-77797160-2', 'auto');
ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>